<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

  <div class="jumbotron text-center">
    <div class="container">
      <h1>Sample Web App</h1>
      <p>This is a sample Java application deployed to Heroku - I found it here: https://github.com/heroku/java-getting-started.git</p>
      <a type="button" class="btn btn-lg btn-default" href="/newpage"><span class="glyphicon glyphicon-flash"></span> This is a link to another page</a>
      <form action="<action-url>" method="POST">
        <label for="write">Write something!</label>
        <input type="text" id="write" name="write">
        <input type="submit" value="Submit" class="btn btn-lg btn-primary">
      </form>
      <input type="text" name="something" value="">
      <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/java-getting-started"><span class="glyphicon glyphicon-download"></span> Submit the thing you wrote</a>
    </div>
  </div>

</body>
</html>
